body {
    margin: auto;
}
.contalner {
    width: 400px;
    min-height: 600px;
    background-color: #cde5ec;
    padding: 15px 20px;
}
#img{
    margin:0 35%;
}

.header{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 10px;
    color: #0087a2;
}

.header span{
color: black !important;
}

.big_img {
    width: 100%;
    height: 240px;
    margin-top: 10px;

}
.inside{
    background-color: #47a8bc;
    padding: 10px 15px;
    width: 150px;
    margin-top: 30px;
    z-index: 100,;
    position: relative;
    margin-left: 20px;
}
.inside h1{
    color: #fff;
    font-size: 22px;
    text-align: center;
}